/* ******************************** */
/* ******************************** */
/* GRIDS */
/* ******************************** */
/* ******************************** */
/* ******************************** */
.container__section{
    
    display: grid;
    grid-template: {
        columns: 80px  400px 400px 400px 50px;
        rows: 50px 1fr 1fr 1fr 1fr 50px;
    };
    @extend .container__section
}
.section__imagen{
    grid-column: 2/5;
    grid-row: 2/7;
}
.imagen__uno{
    grid-column: 3/4;
    grid-row: 2/3;
    
}
.imagen__dos{
    grid-column: 2/5;
    grid-row: 3/4;
}
.imagen__tres{
    grid-column: 3/4;
    grid-row: 4/5;

}
.imagen__cuatro{
    grid-column: 2/5;
    grid-row: 5/6;
}