nav.header__menu
    label(class="menu__icono" for="click")
        img(src="../assets/img/svg/hamburguesa.svg", alt="")
        input(type="checkbox" id="click")

        ul.menu__links
            li.links__inicio   inicio
            li.links__logotipo   logotipo
            li.links__proyectos  proyectos
            li.links__quienes    quienes somos




