figure.section__imagen
        img.imagen__uno(src="../assets/img/svg/foto1.jpg", alt="")
        img.imagen__dos(src="../assets/img/svg/foto2.jpg", alt="")
        img.imagen__tres(src="../assets/img/svg/foto3.jpg", alt="")
        img.imagen__cuatro(src="../assets/img/svg/foto4.jpg", alt="")