head
meta(charset='utf-8')
case pagina
when 0  
    title= seo.blog[0]
    case pagina

    <meta name="description" content="seo.main[1] " />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- SEO = Redes Sociales -->
    <meta property="og:title" content="seo.main[0]" />
    <meta property="og:type" content="seo.main[1]" />
    <meta  property="og:url" content="" />
    <meta property="og:image" content="seo.main[1]" />
when 1
    title= seo.blog[0]
    case pagina

    <meta name="description" content="seo.indice[1] " />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- SEO = Redes Sociales -->
    <meta property="og:title" content="seo.indice[0]" />
    <meta property="og:type" content="seo.indice[1]" />
    <meta  property="og:url" content="" />
    <meta property="og:image" content="seo.indice[1]" />
