html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Control 2
        link(rel="stylesheet", href="css/main.css")
    body
            header.header: include header

            section.section1: include section1
                
            

            footer.footer: include foot



